{
  "presets": [
    ["@babel/preset-env",
      {
        "useBuiltIns": "usage", // 按需加载
        "corejs": 2
      }
    ]
    // "@babel/preset-react",
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}