.diary-edit{
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 100px;
  background: #fff;
}
.diary-edit .am-list-header {
  text-align: center;
  color: rgb(85, 85, 85);
  font-size: 16px;
  margin-bottom: 3px;
}
.diary-edit .am-list-line .am-input-label {
  font-size: 14px;
  color: rgb(94, 94, 94);
}
.diary-edit .am-list-line .am-input-control input {
  font-size: 14px;
  color: rgb(73, 73, 73);
}
.diary-edit .am-textarea-control textarea {
  font-size: 12px;
  color: rgb(94, 94, 94);
}
.diary-edit .datePicker .am-list-line .am-list-content {
  font-size: 14px;
  color: rgb(94, 94, 94);
}
.diary-edit .datePicker .am-list-line .am-list-extra {
  font-size: 14px;
  color: rgb(185, 185, 185);
}
.diary-edit .datePicker .am-list-line .am-list-arrow {
  width: 12px;
  height: 12px;
}
.diary-edit .am-button {
  margin: 50px 10px;
  text-align: center;
}
.diary-edit .am-button span {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 20px;
  margin-right: -20px;
}